body{
  background-color: #E1E5EA;
}

.top-container{
  background-color: #E1E5EA;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

h1{
  color: red;
  font-family: 'ZCOOL KuaiLe', cursive;
  text-align: center;
  font-size: 40px;
}
h2{
  color: red;
  font-family: 'ZCOOL KuaiLe', cursive;
  text-align: center;
}
h3{
  color: red;
  font-family: 'ZCOOL KuaiLe', cursive;
  text-align: center;
}

p{
  color: red;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}
.para{
  font-family: 'ZCOOL KuaiLe', cursive;
  color: red;
}

.img-container{
  position: absolute;
  padding-top: 100px;
  padding-bottom: 50px;
}

.edu{
  position: absolute;
}

.box{
  width: 100%;
  height: 100%;
}
.top{
  width: 100%;
}

.fancy{
  display: inline-block;
  text-align: center;
  background-color: black;
  padding : 1em;
  width: 16em;
  height: 16em;
  position: relative;
  top: 50px;
  left: 40%;
  border: 0.4em solid black;
  border-radius: 100%;
}

.fancy1{
  text-align: center;
  background-color: black;
  padding: 2em;
  width: 11em;
  height: 11em;
  margin-bottom: 28px;
  position: relative;
  top: 50px;
  left: 40%;
  border: 0.4em solid black;
  border-radius: 100%;
}

.fancy2{
  padding: 30px 0 40px;
  background-color: black;
}

.free{
  display: inline-block;
  position: relative;
  left: 18%;
  bottom: 15px;
}

.NOTE{
  position: relative;
  top: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.last-container{
  padding: 50px 0 60px;
  background-color: #E1E5EA;
}

.contact{
  position: absolute;
  right: 50%;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.contact:hover {
  background: #30e3cB;
  background-image: -webkit-linear-gradient(top, #30e3cB, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cB, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cB, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cB, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cB, #2bc4ad);
  text-decoration: none;
}

.offer{
  position: relative;
  bottom: 400px;
  left: 10%;
}
